{% extends 'MipaImageBundle::layout.html.twig' %}

{% block content %}

<table>
{% for entity in entities %}
<tr>
    <th>Images</th>
    <td><img src="{{asset (('uploads/pics/'~entity.image) | imagine_filter('my_thumb')) }}"/></td>
</tr>
</table>
{% endfor %}
{% endblock %}