{% extends 'MipaImageBundle::layout.html.twig' %}

{% block content %}

<table>

<tr>
    <th>Images</th>
    <td><img src="{{ asset(object.webPath) }}" height="150" width="150"/></td>
</tr>
</table>

{% endblock %}